
<div class="signin-body">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-reg" }) do |f| %>

    <h2>编辑</h2>
<!--    <h2>编辑 <%#= resource_name.to_s.humanize %></h2>-->

    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder:'邮箱' %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder:'新密码 (不改则留空)', style:'margin-bottom:0;' %>

    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder:'确认密码' %>

    <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder:'当前密码' %>

    <% resource.errors.full_messages.each do |msg| %>
      <a class="text-danger"><%= msg %></a>
    <% end %>

    <%= f.submit "更新", class: 'btn btn-lg btn-primary btn-block login-btn' %>

<!--    <h3>Cancel my account</h3>-->

<!--    <p>Unhappy?-->
      <%#= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
<!--    </p>-->

    <%= link_to "取消", :back, class: 'btn btn-lg btn-secondary btn-block login-btn' %>

  <% end %>
</div>
