
<div class="signin-body">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-reg" }) do |f| %>

    <h2>重置密码</h2>
    <%= f.hidden_field :reset_password_token %>

    <% if @minimum_password_length %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder:'密码 (至少'+@minimum_password_length.to_s+'字符)', style:'margin-bottom:0;' %>
    <% else %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder:'密码' %>
    <% end %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder:'确认密码' %>

    <% resource.errors.full_messages.each do |msg| %>
      <div class="text-danger"><%= msg %></div>
    <% end %>

    <%= f.submit "更新", class: 'btn btn-lg btn-primary btn-block login-btn' %>

    <%= render "devise/shared/links" %>
  <% end %>
</div>
