
<div class="signin-body">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-reg" }) do |f| %>

    <h2>忘记密码?</h2>

    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder:'邮箱' %>

    <% resource.errors.full_messages.each do |msg| %>
      <a class="text-danger"><%= msg %></a>
    <% end %>
    <%= f.submit "发送密码重置信息", class: 'btn btn-lg btn-primary btn-block login-btn' %>

    <%= render "devise/shared/links" %>

  <% end %>
</div>
