<nav class="navbar navbar-light">
  <div class="justify-content-center">
    <a class="invisible"><%= notice %></a>
    <% if notice %>
      <script>
          console.log("<%= notice %>")
      </script>
    <% end %>
    <a class="text-danger nav-item"><%= alert %></a>
  </div>
  <div class="justify-content-end">
    <% if current_user %>
      你好! <%= current_user.email %>
      <%= link_to('注销', destroy_user_session_path, :method => :delete) %> |
      <%= link_to('修改密码', edit_registration_path(:user)) %>
    <% else %>
      <%= link_to('登录', new_session_path(:user)) %> |
      <%= link_to('注册', new_registration_path(:user)) %>
    <% end %>
  </div>
</nav>

<%= image_tag('bd_logo.png', :size => "270x129", :class => 'rounded mx-auto d-block', :style => 'margin-bottom:20px;') %>

<form class="input-group" action="//cn.bing.com/search" method="get" target="_blank" style="max-width: 641px;margin: 0 auto;text-align: center;">
  <input name="q" type="text" class="form-control" placeholder="">
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit" style="width: 117px">百度一下</button>
  </div>
</form>

<div class="row" style="height: 50px;"></div>

<div style="max-width: 900px;margin: 0 auto;text-align: center;">
  <div class="card" style="text-align: left;">
    <div class="card-header">
      我的导航
    </div>
    <div class="card-body">
      <div class="calalog">
        <div class="calalog-title" >
          <span class="name-text">综合</span>
        </div>
        <div class="row calalog-items">
          <a class="calalog-item text-dark" href="http://weibo.com/?is_search=1" target="_blank">
            <img src="https://ss2.bdstatic.com/lfoZeXSm1A5BphGlnYG/icon/54.png?1" alt="新浪微博" height="16" width="16" class="nav-icon">
            <div class="nav-text">
              <span class="nav-text-content">新浪微博新浪微博新浪微博</span>
            </div>
          </a>
          <a class="calalog-item text-dark" href="http://weibo.com/?is_search=1" target="_blank">
            <img src="https://ss2.bdstatic.com/lfoZeXSm1A5BphGlnYG/icon/54.png?1" alt="新浪微博" height="16" width="16" class="nav-icon">
            <div class="nav-text">
              <span class="nav-text-content">新浪微博新浪微博新浪微博</span>
            </div>
          </a>
          <a class="calalog-item text-dark" href="http://weibo.com/?is_search=1" target="_blank">
            <img src="https://ss2.bdstatic.com/lfoZeXSm1A5BphGlnYG/icon/54.png?1" alt="新浪微博" height="16" width="16" class="nav-icon">
            <div class="nav-text">
              <span class="nav-text-content">新浪微博新浪微博新浪微博</span>
            </div>
          </a>
        </div>
        <div style="clear: both;"></div>
      </div>
      <div class="calalog">
        <div class="calalog-title" >
          <span class="name-text">综合</span>
        </div>
        <div class="row calalog-items">
          <a class="calalog-item text-dark" href="http://weibo.com/?is_search=1" target="_blank">
            <img src="https://ss2.bdstatic.com/lfoZeXSm1A5BphGlnYG/icon/54.png?1" alt="新浪微博" height="16" width="16" class="nav-icon">
            <div class="nav-text">
              <span class="nav-text-content">新浪微博新浪微博新浪微博</span>
            </div>
          </a>
          <a class="calalog-item text-dark" href="http://weibo.com/?is_search=1" target="_blank">
            <img src="https://ss2.bdstatic.com/lfoZeXSm1A5BphGlnYG/icon/54.png?1" alt="新浪微博" height="16" width="16" class="nav-icon">
            <div class="nav-text">
              <span class="nav-text-content">新浪微博新浪微博新浪微博</span>
            </div>
          </a>
        </div>
        <div style="clear: both;"></div>
      </div><div class="calalog">
      <div class="calalog-title" >
        <span class="name-text">综合</span>
      </div>
      <div class="row calalog-items">
        <a class="calalog-item text-dark" href="http://weibo.com/?is_search=1" target="_blank">
          <img src="https://ss2.bdstatic.com/lfoZeXSm1A5BphGlnYG/icon/54.png?1" alt="新浪微博" height="16" width="16" class="nav-icon">
          <div class="nav-text">
            <span class="nav-text-content">新浪微博新浪微博新浪微博</span>
          </div>
        </a>
        <a class="calalog-item text-dark" href="http://weibo.com/?is_search=1" target="_blank">
          <img src="https://ss2.bdstatic.com/lfoZeXSm1A5BphGlnYG/icon/54.png?1" alt="新浪微博" height="16" width="16" class="nav-icon">
          <div class="nav-text">
            <span class="nav-text-content">新浪微博新浪微博新浪微博</span>
          </div>
        </a>
        <a class="calalog-item text-dark" href="http://weibo.com/?is_search=1" target="_blank">
          <img src="https://ss2.bdstatic.com/lfoZeXSm1A5BphGlnYG/icon/54.png?1" alt="新浪微博" height="16" width="16" class="nav-icon">
          <div class="nav-text">
            <span class="nav-text-content">新浪微博新浪微博新浪微博</span>
          </div>
        </a>
        <a class="calalog-item text-dark" href="http://weibo.com/?is_search=1" target="_blank">
          <img src="https://ss2.bdstatic.com/lfoZeXSm1A5BphGlnYG/icon/54.png?1" alt="新浪微博" height="16" width="16" class="nav-icon">
          <div class="nav-text">
            <span class="nav-text-content">新浪微博新浪微博新浪微博</span>
          </div>
        </a>
        <a class="calalog-item text-dark" href="http://weibo.com/?is_search=1" target="_blank">
          <img src="https://ss2.bdstatic.com/lfoZeXSm1A5BphGlnYG/icon/54.png?1" alt="新浪微博" height="16" width="16" class="nav-icon">
          <div class="nav-text">
            <span class="nav-text-content">新浪微博新浪微博新浪微博</span>
          </div>
        </a>
      </div>
      <div style="clear: both;"></div>
    </div>
    </div>
  </div>
</div>