<nav class="navbar navbar-light" style="font-size: 14px;">
  <div class="justify-content-center">
    <a class="invisible"><%= notice %></a>
    <% if notice %>
      <script>
          console.log("<%= notice %>")
      </script>
    <% end %>
    <a class="text-danger nav-item"><%= alert %></a>
  </div>
  <div class="justify-content-end">
    <% if current_user %>
      你好! <%= current_user.email %>
      <%= link_to('注销', destroy_user_session_path, :method => :delete) %> |
      <%= link_to('修改密码', edit_registration_path(:user)) %>
    <% else %>
      <%= link_to('登录', new_session_path(:user)) %> |
      <%= link_to('注册', new_registration_path(:user)) %>
    <% end %>
  </div>
</nav>

<div class="row" style="height: 20px;"></div>

<%= image_tag('bd_logo.png', :size => "270x129", :class => 'rounded mx-auto d-block') %>

<% if current_user %>
  <div class="row" style="height: 20px;"></div>
<% else %>
  <div class="row" style="height: 50px;"></div>
<% end %>

<form class="input-group" action="//cn.bing.com/search" method="get" target="_self" style="max-width: 641px;margin: 0 auto;text-align: center;">
  <input name="q" type="text" class="form-control" placeholder="">
  <div class="input-group-append">
    <button class="btn btn-primary" type="submit" style="width: 117px">百度一下</button>
  </div>
</form>

<div class="row" style="height: 50px;"></div>

<% if current_user %>
  <div style="max-width: 900px;margin: 0 auto;text-align: center;">
    <div class="card" style="text-align: left;">
      <div class="card-header" style="padding-top: 0; padding-bottom: 0;">
        <nav class="navbar navbar-light bg-light">
          <span class="navbar-brand" style="font-size: 14px;">
            我的导航
          </span>
          <button class="justify-content-end btn btn-link" type="button" style="font-size: 13px;"
                  data-toggle="modal" data-target="#editModalCenter">
            编辑
          </button>
        </nav>
      </div>
      <div class="card-body">
        <% current_user.catalogs.each do |catalog| %>
          <div class="calalog clearfix">
            <div class="calalog-title" >
              <span class="name-text"><%= catalog.title %></span>
            </div>
            <div class="row calalog-items">
              <% catalog.links.each do |link| %>
                <a class="calalog-item text-dark" href="<%= link.url %>" target="_blank">
                  <img src="<%= link.icon %>" height="16" width="16" class="nav-icon">
                  <div class="nav-text">
                    <span class="nav-text-content"><%= link.title %></span>
                  </div>
                </a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- EditModal -->
  <%= render "editModal" %>
<% end %>