<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="//lib.baomitu.com/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="//lib.baomitu.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="//lib.baomitu.com/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//lib.baomitu.com/vue/2.5.16/vue.min.js"></script>
    <script src="//lib.baomitu.com/Sortable/1.6.0/Sortable.min.js"></script>
    <script src="//lib.baomitu.com/Vue.Draggable/2.16.0/vuedraggable.min.js"></script>
    <script src="//lib.baomitu.com/jquery-url-parser/2.3.1/purl.min.js"></script>
    <script src="//lib.baomitu.com/axios/0.18.0/axios.min.js"></script>
    <style>
      #footer {
        height: 40px;
        line-height: 40px;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: #fff;
        font-family: Arial;
        font-size: 12px;
        letter-spacing: 1px;
      }
    </style>
</head>

<body>

<div id="app" class="container-fluid">
  <%= yield %>
</div>
<div id="footer"><a href="http://www.beian.miit.gov.cn">京ICP备14022168号-1</a></div>

<script>
    <% if notice %>
      console.log("<%= notice %>")
    <% end %>
    var app = new Vue({
        el: '#app',
        data: {
            catalogs: null,
            catalogs_str: '<%== @catalogs %>',
            new_catalog_title: '',
            new_link_catalog_id: '',
            new_link_title: '',
            new_link_url: '',
            new_link_icon: '',
            edit_catalog: null,
            edit_link: null,
            drag: false
        },
        computed: {
            isShowNewLink: function () {
                return this.catalogs.length>0
            }
        },
        created: function () {
            if (this.catalogs_str.length > 0) {
                this.catalogs = JSON.parse(this.catalogs_str)
            }else {
                this.catalogs = JSON.parse('[]')
            }
        },
        watch: {
            'edit_link.url': function (newUrl, oldUrl) {
                var that = this
                if (oldUrl != null && newUrl != ''){
                    var url = $.url(newUrl).attr('base')+'/favicon.ico';
                    axios.get('/test_icon_url',{
                        params: {
                            url: url,
                            authenticity_token: '<%= form_authenticity_token %>'
                        }
                    }).then(function (response) {
                        if (that.edit_link != null) {
                            that.edit_link.icon = response['data'];
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            },
            new_link_url: function (newUrl, oldUrl) {
                var that = this
                if (newUrl==''){
                    that.new_link_icon = ''
                } else {
                    var url = $.url(newUrl).attr('base')+'/favicon.ico';
                    axios.get('/test_icon_url',{
                        params: {
                            url: url,
                            authenticity_token: '<%= form_authenticity_token %>'
                        }
                    }).then(function (response) {
                        that.new_link_icon = response['data'];
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }
        },
        methods: {
            uploadCatalogs: function () {
                console.log(this.catalogs)
                axios.post('/set_catalogs', {
                    data: JSON.stringify(this.catalogs),
                    authenticity_token: '<%= form_authenticity_token %>'
                }).then(function (response) {
                    console.log(response);
                    $('#editModalCenter').modal('hide');
                }).catch(function (error) {
                    console.log(error);
                });
            },
            closeCatalogsModal: function () {
                $('#editModalCenter').modal('hide');
                this.catalogs = JSON.parse(this.catalogs_str)
            },
            deleteCatalog: function (catalog) {
                this.removeFromList(this.catalogs, catalog)
            },
            deleteLink: function (catalog, link) {
                this.removeFromList(catalog.links, link)
            },
            editCatalog: function(catalog){
                this.edit_catalog = catalog
                $('#newCatalogModal').modal('show');
            },
            editCatalogCancel: function(){
                $('#newCatalogModal').modal('hide');
                this.edit_catalog=null;
            },
            editLink: function(link){
                this.edit_link = link
                $('#newLinkModal').modal('show');
            },
            editLinkCancel: function(){
                $('#newLinkModal').modal('hide');
                this.edit_link=null;
            },
            saveCatalog: function () {
                if(this.edit_catalog!=null){
                    $('#newCatalogModal').modal('hide');
                    this.edit_catalog=null;
                }else {
                    if(this.new_catalog_title!=''){
                        this.catalogs.push(JSON.parse('{"id":'+this.getRandomTmpId()+',"title":"'+this.new_catalog_title+'","links":[]}'));
                        $('#newCatalogModal').modal('hide');
                        this.new_catalog_title = '';
                    }
                }
            },
            saveLink: function () {
                if(this.edit_link!=null){
                    for (var i=0;i<this.catalogs.length;i++){
                        if(this.catalogs[i].id == this.edit_link.catalog_id && this.catalogs[i].links.indexOf(this.edit_link)<0){
                            this.catalogs[i].links.push(this.edit_link)
                        }else if(this.catalogs[i].id != this.edit_link.catalog_id && this.catalogs[i].links.indexOf(this.edit_link)>=0){
                            this.removeFromList(this.catalogs[i].links,this.edit_link);
                        }
                    }
                    $('#newLinkModal').modal('hide');
                    this.edit_link=null;
                }else {
                    if(this.new_link_catalog_id!=''||this.new_link_title!=''||this.new_link_title!=''){
                        for( var index = 0; index < this.catalogs.length; index ++){
                            if(this.catalogs[index].id == this.new_link_catalog_id){
                                this.catalogs[index].links.push(JSON.parse('{"id":'+this.getRandomTmpId()+',"title":"'+this.new_link_title+'","catalog_id":2,"url":"'+this.new_link_url+'","icon":"'+this.new_link_icon+'"}'));
                            }
                        }
                        this.new_link_catalog_id= '';
                        this.new_link_title= '';
                        this.new_link_url= '';
                        this.new_link_icon= '';
                        $('#newLinkModal').modal('hide');
                    }
                }
            },
            removeFromList: function(arr, val) {
                var index = arr.indexOf(val);
                if (index > -1) {
                    arr.splice(index, 1);
                }
            },
            getRandomTmpId: function () {
                return Math.floor(Math.random()*(-10000)-1);
            },
            openLink: function (url) {
                window.open(url)
            }
        }
    })
</script>

</body>
</html>
